<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
        Welcome to CW
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-button shape="round" color="primary" fill="outline">
        <ion-icon name="play"></ion-icon>
      </ion-button>
  </ion-fab>
  <ion-card class="welcome-card">
    <ion-img src="/assets/map.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Get Started</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Countries in our World - I know that you are a pro. Let's see how pro you are than others! Add players before you play.</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Paired Players</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" color="medium" name="person"></ion-icon>
      <ion-label>Ankit Kumar</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
