
    #letter{
        color: green;
        font-size: 3em;
        margin: 20% 0 20% 0;
        text-align: center;
    }

    .grey{
        background-color: #DCDCDC;
    }

    .archieve{
        height: 50%;
        border: 1px solid #DCDCDC;
    }